In [1]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv("final_v1.csv", index_col= False)

In [40]:
# Previous notebook already converted recoded Hwy and St to Highway and Street respectively 
# Add list of generic replacers

gen_replacers = {"Rd":"Road", "Dr":"Drive", "Fwy":"Freeway", "Ave":"Avenue", 
             "Blvd":"Boulevard", "Lp":"Loop", "Pl":"Place", "Acc": "Access",
                "Pkwy":"Parkway", "10Th":"10th", "16Th": "16th", "18Th": "18th"}

In [41]:
df["road_name"] = df["road_name"].replace(gen_replacers, regex=True)

In [42]:
# apply unique replacers, for one off road name differences 

uniq_replacers = {"W H3 Freeway": "John A Burns Freeway", 
                  "E H3 Freeway": "John A Burns Freeway",
                  "H3 Freeway": "John A Burns Freeway",
                  "N H2 Freeway": "Veterans Memorial Freeway",
                  "S H2 Freeway": "Veterans Memorial Freeway",
                  "E H1 Freeway": "Queen Liliuokalani Freeway",
                  "H1 Freeway": "Queen Liliuokalani Freeway",
                  "W H1 Freeway": "Lunalilo Freeway",
                  "N Nimitz Highway": "Nimitz Highway",
                  "S Nimitz Highway": "Nimitz Highway",
                  "N King Street":"King Street",
                  "S King Street":"King Street",
                  "King Street":"King Street",
                  "N School Street": "North School Street",
                  "S School Street": "North School Street",
                  "N Vineyard Boulevard": "South Vineyard Boulevard",
                  "S Vineyard Boulevard": "South Vineyard Boulevard",
                  "N Beretania Street":"Beretania Street",
                  "S Beretania Street":"Beretania Street",
                  "N Hotel Street": "Hotel Street",
                  "S Hotel Street": "Hotel Street",
                  "Ala Napunani":"Ala Napunani Street",
                  "N Kalaheo Avenue":"Kalaheo Avenue",
                  "S Kalaheo Avenue":"Kalaheo Avenue",
                  "W Hind Drive": "West Hind Drive",
                  "E Hind Drive": "East Hind Drive",
                  "Ainakoa Avenue": "Aina Koa Avenue",
                  "Kam Highway": "Kamehameha Highway"}

In [43]:
df["road_name"] = df["road_name"].replace(uniq_replacers, regex=True)

In [44]:
# Check that it worked 

df[df["road_name"] == "Aina Koa Avenue"]

,objectid,segmentid,road_name,class,street_cla,zipcoder,zipcodel,townl,townr,neighborr,oneway,edittype,revisedate,owner,loaddate,st_lengths,avg_spd
4228,4229,22573,Aina Koa Avenue,A41,4,96821.0,96821.0,Honolulu / Waialae Kahala,Honolulu / Waialae Kahala,WAIALAE-KAHALA,0,NaN,2003-05-21,VARIOUS,2009-05-15,334.632351,NaN
4349,4350,22700,Aina Koa Avenue,A41,4,96821.0,96821.0,Honolulu / Waialae Kahala,Honolulu / Waialae Kahala,WAIALAE-KAHALA,0,NaN,2003-05-21,VARIOUS,2009-05-15,122.279890,NaN
11252,11253,22848,Aina Koa Avenue,A41,4,96821.0,96821.0,Honolulu / Waialae Kahala,Honolulu / Waialae Kahala,WAIALAE-KAHALA,0,NaN,2003-05-21,VARIOUS,2009-05-15,75.336856,NaN
13527,13528,22781,Aina Koa Avenue,A41,4,96821.0,96821.0,Honolulu / Waialae Kahala,Honolulu / Waialae Kahala,WAIALAE-KAHALA,0,NaN,2003-05-21,VARIOUS,2009-05-15,79.357311,NaN
19285,19286,22303,Aina Koa Avenue,A41,4,96821.0,96821.0,Honolulu / Waialae Kahala,Honolulu / Waialae Kahala,WAIALAE-KAHALA,0,NaN,2003-05-21,VARIOUS,2009-05-15,588.848102,NaN

In [45]:
df_dot = pd.read_csv("dot_spd_comb.csv", index_col= False)

In [46]:
df = df.merge(df_dot, on = "road_name", how = "left")

In [47]:
df

,objectid,segmentid,road_name,class,street_cla,zipcoder,zipcodel,townl,townr,neighborr,oneway,edittype,revisedate,owner,loaddate,st_lengths,avg_spd_x,avg_spd_y
0,1,34403,Hoonana Street,A41,4,96706.0,96706.0,Ewa Beach,Ewa Beach,EWA,0,NaN,2004-12-08,CITY,2009-05-15,59.397475,NaN,NaN
1,2,252357,NaN,A41,4,96797.0,96797.0,Waipahu,Waipahu,WAIPIO PENINSULA,0,NaN,2003-06-23,FED,2009-05-15,139.552979,NaN,NaN
2,3,33706,Maikoiko Street,A41,4,96797.0,96797.0,Waipahu,Waipahu,WAIPAHU,0,NaN,2003-05-21,UNKNOWN,2009-05-15,108.801348,NaN,NaN
3,4,251245,Lexington Boulevard,A41,4,96818.0,96818.0,Honolulu / Halsey Ter,Honolulu / Halsey Ter,FORD ISLAND,0,NaN,2003-06-23,FED,2009-05-15,134.637306,NaN,NaN
4,5,19423,Lusitana Street,A41,4,96813.0,96813.0,Honolulu / Downtown,Honolulu / Downtown,DOWNTOWN,2,NaN,2007-04-13,CITY,2009-05-15,47.902809,27.969604,27.969604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27059,27060,44346,Puepue Street,A41,4,96706.0,96706.0,Ewa Beach,Ewa Beach,Ewa,0,0.0,2020-09-08,PRIVATE,2020-09-08,24.268751,NaN,NaN
27060,27061,44345,Puepue Street,A41,4,96706.0,96706.0,Ewa Beach,Ewa Beach,Ewa,0,0.0,2020-09-08,PRIVATE,2020-09-08,93.879791,NaN,NaN
27061,27062,44083,Hulukupuna Street,A41,4,96797.0,96797.0,Waipahu,Waipahu,Mililani-Waipio-Melemanu,0,4.0,2020-10-13,CITY,2020-10-13,172.651129,NaN,NaN
27062,27063,44445,Hulukupuna Street,A41,4,96797.0,96797.0,Waipahu,Waipahu,Mililani-Waipio-Melemanu,0,0.0,2020-10-13,CITY,2020-10-13,46.673790,NaN,NaN
27063,27064,44442,Halehana Street,A41,4,96797.0,96797.0,Waipahu,Waipahu,Mililani-Waipio-Melemanu,0,0.0,2020-10-13,CITY,2020-10-13,255.712038,NaN,NaN

In [48]:
# No. of State dataset roads still missing avg_speeds (prev count 22371, 22290, 21439)

df["avg_spd_y"].isna().sum()

21439

In [49]:
df = df.drop(['avg_spd_x'], axis =1)

In [50]:
df = df.rename(columns= {"avg_spd_y": "avg_spd"})

In [51]:
df.to_csv("final_v3.csv", index= False)